.page.theme_light {
	--background-color: var(--color-pink-seventh, #fff1f7);
	--background-image: url('../images/cover-image-light.png');
	--decorated-color: var(--color-grey, #353430);
	--button-color: var(--color-grey,#353430);
	--button-color-active:var(--button-color-active, rgba(50, 49, 45, 0.4));
	--header-title-color: var(--color-pink-sixth,#ffc2e6);
	--accent-color: var(--color-pink-fifth, #ff8dcb);
	--title-color: var(--color-grey,#353430);
	--text-color: var(--color-grey,#353430);
	--shadow-color:var(--color-pink-first, #ff0070);
	--page-title-color:var(--color-grey,#353430);
}

.recording {
	display: none;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: var(--color-pink-seventh, #fff1f7);
		--background-image: url('../images/cover-image-light.png');
		--decorated-color: var(--color-grey, #353430);
		--button-color: var(--color-grey,#353430);
		--button-color-active:var(--button-color-active, rgba(50, 49, 45, 0.4));
		--header-title-color: var(--color-pink-sixth,#ffc2e6);
		--accent-color: var(--color-pink-fifth, #ff8dcb);
		--title-color: var(--color-grey,#353430);
		--text-color: var(--color-grey,#353430);
		--shadow-color:var(--color-pink-first, #ff0070);
		--page-title-color:var(--color-grey,#353430);
	}
}