/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
  background: fixed var(--bg-color) var(--bg-image) no-repeat center / cover;
}

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
	position: relative;
	inset: 0;
	min-block-size: 668px;
	block-size: 100vh;
  margin: 10px;
}

@media screen and (width >= 768px) {
  .header {
    margin: 20px;
    min-block-size: 668px;
    block-size: 100vh;
  }
}

.decorated-zone {
  position: relative;
  min-block-size: 97vh;
}

@media (min-width: 768px) {
  .decorated-zone {
    min-height: 95vh;
  }
}

@media (min-width: 1024px) {
  .decorated-zone {
    min-height: 94vh;
  }
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-block-start: 0;
  inset-inline-end: 0;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: 0;
  inset-inline-start: 0;
  block-size: 25px;
  inline-size: 25px;
}

.decorative-rec-icon {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2px 10px 0 0;
  color: var(--rec-decoration-clr);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorative-rec-icon::after {
  content: "";
  display: block;
  border-radius: 50%;
  inline-size: 7px;
  block-size: 7px;
  background-color: var(--rec-decoration-clr);
  box-shadow: 0 0 5px 4px var(--rec-decoration-clr);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin: 5px 0 0;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  @media (min-width: 768px) {
    .header__theme-menu {
      margin: 10px 0 0;
    }
  }
  
  @media (min-width: 1024px) {
    .header__theme-menu {
      justify-self: center;
      align-self: flex-start;
      margin: 0;
    }
  
    .header__theme-menu-list {
      flex-direction: row;
      gap: 10px;
    }
  }

  .header__theme-menu-button {
    border: none;
    padding: 0 13px;
    outline: 1px solid transparent;
    color: var(--accent-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 18px; /* 100% */
    text-align: center;
    background-color: transparent;
    block-size: 26px;
    text-transform: lowercase;
    cursor: pointer;
    transition-duration: 0.2s;
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--link-border-hover);
    cursor: pointer;
  }
  
  .header__theme-menu-button:focus {
    outline: none;
  }
  
  .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--accent-color);
  }
  
  .header__theme-menu-button_active {
    border: 1px solid var(--accent-color);
    pointer-events: none;
  }

  .header__heading {
    align-self: self-start;
    margin: 15px 0 0;
  }

  @media (max-width: 668px) {
    .header__heading {
      margin: 20px 0 0 0;
      font-size: 116px;
      line-height: 83%;
    }
  }
  
  @media (min-width: 768px) {
    .header__heading {
      margin: 20px 0 0 0px;
    }
  }
  
  @media (min-width: 1024px) {
    .header__heading {
      margin: 45px 0 0 0px;
    }
  }

.accent-shadow-text {
    color: var(--title-color);
    font-weight: var(--bold);
    line-height: 82.5%;
    text-shadow: 4px 4px 0 var(--accent-color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-style: normal;
  }

.header__text {
    justify-self: end;
    align-items: center;
    max-width: 364px;
    block-size: min-content;
    margin: 0;
  }
  
  @media (max-width: 668px) {
    .header__text {
      max-width: 96%;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 768px) {
    .header__text {
      margin: 0;
    }
  }
  
  @media (min-width: 1024px) {
    .header__text {
      margin: 0;
      padding: 0;
      max-inline-size: 491px;
    }
  }

  .accent-background {
    color: var(--bg-color);
    background-color: var(--accent-color);
  }
  
  .accent-text {
    font-size: 18px;
    line-height: 130%;
  }
  
  .accent-text_bold {
    font-weight: var(--bold);
  }
  
.header__decor {
  position: absolute;
  display: flex;
  justify-self: end;
  gap: 10px;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 25px; /* 138.889% */
  text-align: center;
  text-transform: uppercase;
}

.header__decor::after {
  content: '';
  align-self: center;
  margin-inline-end: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  block-size: 9px;
  inline-size: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

@media screen and (width >= 768px) {
  .main {
    column-gap: var(--gap);
    padding: 60px 20px;
  }
}

.main__section {
  display: grid;
}

.section_text {
  grid-template-areas:
    'title_2'
    'article';
  gap: 20px;
}

@media screen and (width >= 768px) {
  .section_text {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'title_2 article';
  }
}
@media screen and (width >= 1024px) {
  .section_text {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'title_2 article article';
  }
}

.title {
  color: var(--title-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%; /* 95.7px */
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.title-decor {
  color: var(--decor-text-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
  background: var(--decor-bg-color);
}

@media screen and (width >= 768px) {
  .title-decor {
    word-spacing: -1px;
  }
}

@media screen and (width >= 768px) {
  .header__title {
    position: relative;
    inset-inline-start: -20px;
  }
}

@media screen and (width > 375px) {
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .accent-shadow-text{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.main__section__title_h2 {
  grid-area: title_2;
  color: var(--bg-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
}

.main__section__title_h4 {
  font-weight: 400;
}

.main__section__article {
  grid-area: article;
}

.main__section__text {
  padding-block: 10px 20px;
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
}

.main__section__text:last-child {
  padding-block-end: 0;
}

.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  text-shadow: 2px 2px var(--shadow-color);
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.image_Sunset {
  grid-area: image_1;
}

.image_ice {
  grid-area: image_2;
}

.image_tape {
  grid-area: image_3;
}

.image_books {
  grid-area: image_4;
}

.image_street {
  grid-area: image_5;
}

.section_concentration {
  grid-template-areas:
    'title_2'
    'article';
  gap: 20px;
}

@media screen and (width >= 1024px) {
  .section_concentration .main__section__text {
    padding: 0;
  }
}

@media screen and (width >= 768px) {
  .section_concentration {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'title_2 . .'
      'article article article';
  }
}

@media screen and (width >= 1024px) {
  .section_concentration .main__section__article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 10px 20px;
  }
}

.section_exercises {
  grid-template-areas:
    'title_2'
    'article';
  gap: 20px;
}

@media screen and (width >= 768px) {
  .section_exercises {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'title_2 article';
  }
}
@media screen and (width >= 1024px) {
  .section_exercises {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'title_2 article article';
  }
}

.section_exercises .main__section__title_h3 {
  margin-block-end: 20px;
}

.section_image {
  grid-template-areas:
    'title_2'
    'image_1'
    'image_2'
    'image_3'
    'image_4'
    'image_5';
  gap: 10px;
}

.section_image .main__section__title_2 {
  color: var(--decor-text-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
}

@media screen and (width >= 768px) {
  .section_image {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'title_2 title_2 title_2'
      'image_1 image_1 image_2'
      'image_3 image_4 image_2'
      'image_3 image_5 image_5';
  }
}

@media screen and (width >= 768px) {
  .section_image {
    gap: 20px;
  }
}

.main__section__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  align-items: center;
  margin: 10px;
	min-block-size: 668px;
	block-size: 100vh;
}

@media screen and (width >= 768px) {
  .footer {
    margin: 20px;
    block-size: calc(100vh - 40px);
  }
}

.footer__title {
  display: block;
  padding-block: 275px;
  text-align: center;
}

.footer .title {
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media screen and (width >= 768px) {
  .footer__title {
    padding-block: 442px;
  }
}

@media screen and (width > 768px) {
  .footer__title {
    padding-block: 299px;
  }
}
