/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --rec-decoration-clr: #ff0070;
  --link-border-hover:rgba(255, 0, 112, 0.40);
  --text-color: #f1b2ce;
  --gap: 20px;
  --font-family: 'IBM Plex Mono', monospace;  
  --shadow-color: var(--accent-color);
  --decor-bg-color: var(--accent-color);
  --decor-text-color: var(--bg-color); 
  --title-color: #db00ff;
  --bold: 700; 
}